@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
	font-family: "Inter", sans-serif;
}

html {
	scroll-behavior: smooth
}

body {
	overflow-x: hidden;
}

h2 {
	color: #603FEF;
	font-size: 2.75em;
	font-weight: 750;
	margin-bottom: 50px;
}

h3 {
	color: #5271FF;
}

p {
	font-size: 1.15em;
	line-height: 1.75em;
}

nav.navbar {
	background-color: rgba(0, 0, 0, .75);
	backdrop-filter: blur(5px);
	padding: 15px 30px;
	border-radius: 10px;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

nav a {
	color: #FFFFFF;
	margin: 0 15px;
	font-size: 1em;
	font-weight: 500;
}

nav a:hover, nav a:focus, nav a:active {
	color: #FFFFFF;
	text-decoration-color: #FFFFFF;
}

header {
	min-height: 100vh;
	text-align: center;
	padding-top: 15%;
}

header h1 {
	font-size: 2.65em;
	line-height: 1.45em;
	font-weight: 700;
	margin-top: 25px;
	margin-bottom: 50px;
}

header h3 {
	color: #603FEF;
	font-size: 1.25em;
	line-height: 1.35em;
}

div.row {
	margin-left: 0;
	max-width: 100%;
}

div.full {
	min-height: 100vh;
}

div.panel {
	background-color: rgba(0, 0, 0, .75);
	backdrop-filter: blur(5px);
	color: #FFFFFF;
	border-radius: 10px;
	padding: 50px 65px;
	margin-bottom: 100px;
}

div.panel h3 {
	color: #FFFFFF;
	margin-bottom: 25px;
}

div.panel p {
	font-size: 1.15em;
	line-height: 1.65em;
	margin-bottom: 0;
}

div.tableauPlaceholder {
	margin-top: 75px;
}

div.section {
	margin-top: 25px;
	padding-top: 150px;
}

p span.highlight {
	color: #5271FF;
	font-weight: 500;
	line-height: 2em;
}

ul li {
	margin-bottom: 15px;
}

ul li a {
	color: #5271FF;
	font-weight: 500;
	font-size: 1.25em;
	line-height: 1.75em;
}

ul li a:hover {
	color: #5271FF;
	text-decoration-color: #5271FF;
}

footer {
	background-color: rgba(0, 0, 0, .75);
	color: #FFFFFF;
	text-align: center;
	font-size: .9em;
	padding: 25px 0;
	margin-top: 125px;
}

footer p {
	margin-bottom: 0;
}

@media (max-width: 992px) {

	nav.navbar {
		display: none;
	}

	header {
		padding-top: 20%;
	}

	header h1 {
		font-size: 2.5em;
	}

}

@media (max-width: 576px) {

	div.container {
		padding: 0 35px;
	}

	header {
		padding-top: 23%;
	}

	div.panel {
		margin-bottom: 50px;
		padding: 50px 25px;
	}

}
